.tasktable{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.selecter{
    display: flex;
    gap: 10px;
    padding: 0px 8vw;
    select{
        padding: 5px 10px;
        border: none;
        background: #f0e9e9;
        border-radius: 5px;
        font-size: clamp(0.5rem,1vw,1rem);
        outline: none;
        cursor: pointer;
    }
    option{
        cursor: pointer;
        border: none;
    }
    
}

.dataTable{
    
    width: 86%;
    /* display: flex;
    justify-content: center; */
    border: 1px solid #DBE0E5;
    margin-inline: auto;
    padding: 10px;
    table{
        width: 100%; 
        /* border-spacing: 10px clamp(10px,2vw,30px);     */
        border-radius: 4px ;
        border-collapse: separate;
        border-spacing: 0rem 1rem;
        /* border: 1px solid #DBE0E5; */
    }
}

tr{
    display: grid;
    grid-template-columns:1.5fr 2fr 1.5fr 1fr ;
}


th{
    text-align: start;
   font-size: clamp(0.6rem,1vw,1rem);

}

.task{
  width: 23%;
}

.assi{
    width: 23%;
}

.desc{
}

.status{
  width: 15%
}

td{
    text-align:start;
    font-size: clamp(0.6rem,1vw,1rem);
    padding: 5px 0px;
    border-bottom: 1px solid #DBE0E5;
}

.td-desc{
    font-weight: 400;
    line-height: 21px;
    color: #61758A;
}

.td-task{
     font-weight: 400;
    line-height: 21px;
    color: #121417;
}

.flag-details{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-block: auto;
}

.flag{
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(60px,7vw,153px);
    height: clamp(18px,2vw,30px);
    border-radius: clamp(4px,0.5vw,8px);
    span{
       font-size: 1vw;
       font-weight: 500;
       color: #121417;
    }
    
}


.description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    padding: clamp(8px,1vw,10px) 20px 0px 0px;
}

.title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    padding: clamp(8px,1vw,10px) 20px 0px 0px;
}

.assignee{
     white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    padding: clamp(8px,1vw,10px) 20px 0px 0px;
}
