.tasktable{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.selecter{
    display: flex;
    gap: 10px;
    padding: 0px 8vw;
    select{
        padding: 5px 10px;
        border: none;
        background: #f0e9e9;
        border-radius: 5px;
        font-size: clamp(0.5rem,1vw,1rem)
    }
    
}

.dataTable{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    table{
        width: 84%;
    }
}

th{
   font-size: clamp(0.5rem,1vw,1rem);
}

.task{
  width: 20%;
}

.assi{
 
}

.desc{
}

.status{
  width: 20%
}

td{
    text-align: center;
    font-size: clamp(0.5rem,1vw,1rem);
}

.flag-details{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flag{
    text-align: center;
    border: 1px solid;
    width: clamp(40px,4vw,120px);
    span{
       font-size: 1vw;
    }
    
}

